/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

/* Opdracht 2.1*/

.one {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Opdracht 2.2*/

.two {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    column-gap: 900px;
}

/* Opdracht 2.3*/

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edhub {
    display: flex;
    flex-direction: row;

}

/* Opdracht 2.4*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Opdracht 2.5*/

.five {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

article {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 360px;
}