/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.two {
    display: flex;
    flex-direction: row;
    column-gap: 800px;
}

.three {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    list-style: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#username {
    display: flex;
    flex-direction: row;
}

#password {
    display: flex;
    flex-direction: row;
}

.five {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

article {
    flex-basis: 400px;
    flex-shrink: 1;
}